/* Personal Sytle*/
:root { 
  --ff-primary: sans-serif; 
  --ff-secondary: monospace; 

  --fw-reg: 300;
  --fw-bold: 900; 

  --clr-light: beige; 
  --clr-dark: black; 
  --clr-accent: red; 

  --fs-h1: 3rem; 
  --fs-h2: 2.25rem; 
  --fs-h3: 1.25rem; 
  --fs-body: 1rem; 

}

* { 
  box-sizing: border-box;
}

img { 
  min-width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    flex: 1 0 400px;
    padding: 8px;
    margin: 8px;
    border: var(--clr-dark) 4px solid;
}


/* Typeography */ 
h1,
h2, 
h3
  { 
  font-family: monospace;
  
}

h1 { 
  font-size: var(--fs-h1);
}
h2{ 
  font-size: var(--fs-h2);
}
h3{
  font-size: var(--fs-h3);
}

/* Header section  */


header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: #ffffff;
   justify-content: center;
}
header a { 
  text-decoration: none;
  color: inherit;
}
header h1 {
    
    font-size: 200%;
    color:var(--clr-accent);
  }

nav { 
  display: block;
}

.nav_ul li { 
  flex: 1 0 auto;
  margin: 8px;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  
}
.nav_ul {
  font-size: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  }
.head_nav { 
  padding: 5px;
}

.about_me { 
  display: flex;
  flex-direction: column;
}
nav a {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    text-align: center;
  }
  
nav a:hover {
    color: var(--clr-accent);
    border-bottom: solid var(--clr-accent);
  }
  
a {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
  }


/* Work Section */
.flex-row { 
  display: flex; 
  flex-direction: column;
}
.flex-row h2 { 
  border-bottom: solid 3px blue;
  padding-bottom: 3px;
}
.project { 
  min-width: 100%;
  padding: 8px;
  border:  grey dotted 2px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  margin: 8px;
  border: blue 4px solid;
}
.work_container {
  display: flex; 
  flex-direction: column;

}
.work_container h2 { 
  border-bottom: solid blue;
}
.container{ 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.container h2 {
  border-bottom: solid black;
  margin: 0;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Contacts Section */

.contact-me { 
  align-items: center;
  display: block;
}
.contact-me ul{
  color: blue;
}

/* Resume section */
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  header{ 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px
  }
  
  .page-title { 
    align-items: right;
  }

  
}


  