/* Personal Sytle*/
:root { 
  --ff-primary: sans-serif; 
  --ff-secondary: monospace; 

  --fw-reg: 300;
  --fw-bold: 900; 

  --clr-beige: beige; 
  --clr-darkgreen: darkgreen; 
  --clr-accent: rgb(88, 28, 28); 


  --fs-h1: 3rem; 
  --fs-h2: 200%; 
  --fs-h3: 1.25rem; 
  --fs-body: 1rem; 

}

* { 
  box-sizing: border-box;
}

body { 
  font-size: 20px; ;
}
header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: #ffffff;
    align-items: center;
}

header a { 
  text-decoration: none;
  color: inherit;
}
/* Typeography */ 
h1,
h2, 
h3
  { 
  font-family: monospace;
  
}

h1 { 
  font-size: var(--fs-h1);
}
h2{ 
  font-size: 200%;
  border-bottom: 3px solid blue;
}
h3{
  font-size: var(--fs-h3);
}

section { 
  padding: 0.5rem;
}
/* Header section  */





header h1 {
    
    font-size: 200%;
    color:var(--clr-accent);
  }


#navList{ 
  flex: 1 0 auto;
  margin: 8px;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  
}
.nav_ul {
  font-size: 16px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  }
.head_nav { 
  padding: 5px;
}

.about_me { 
  display: flex;
  flex-direction: column;
}
nav a {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
  }
  
nav a:hover {
    color: var(--clr-accent);
    padding-bottom: 3px;
    margin: 8px;
    flex: 1 0 auto;
  }

p{ 
  font-family: var(--ff-secondary);
  font-size: var(--fs-h3);
  line-height: 1.2;
  color: var(--clr-dark);
  padding-top: 0.5rem;
}

/* Work Section */
img { 
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.flex-row { 
  display: flex; 
  flex-direction: column;
  
}


.work_container {
  display: flex; 
  flex-direction: column;
  flex-direction: row;
  width: 100%;
}

.container{ 
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.container h2 {
  border-bottom: solid black;
  margin: 0;
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Contacts Section */

.contact-me { 
  align-items: center;
  display: block;
}


/* Resume section */
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 576px) {
  .container, 
  .project { 
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;

  }
    


}


@media screen and (min-width: 900px) {
 
  /* For headings */
  header{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2; 
  }

  .head_nav { 
    justify-content: end;
  } 
  section { 
    display: flex;
  }
  h2 { 
    border-right: 3px solid blue;
    border-bottom: none;
    padding-top: 0; 
    padding-right: 0.5rem;
  }
  p { 
    padding-left: 0.5em;
    justify-content: center;
  }
  .col-left { 
    width: 25%;
    text-align: end;
  }

  .col-right { 
    width: 75%;
  }


  .card-img{ 
    width: 100%;
    padding: 10px; 

  }

}